
/* 
- Reworked the CSS to make it more efficient by consolidating CSS selectors 
and properties, organizing them to follow the semantic structure of the HTML elements. 
- Created Date: 07/08/2023
- Credted by Sajith Aravindan

========================================================================================

*/

/* Variables */
:root {
    --HeaderColor:#31343D;
    --white: #ffffff;
    --boxbordercolor: #91CBCD;
    --bordervar50: 50px;
    --bordervar0: 0px;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* Body Section of the page CSS */
body {
    background-color:var(--white);
}

/* All <p> tag CSS */
p {
    font-size: 16px;
    font-family: 'Helvitica','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: var(--HeaderColor);
}

/* Header Section of the page CSS */
header {   
    display: flex;    
    padding: 0px 20px 20px 0px;
    font-family: 'Arial','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--HeaderColor);
    color:var(--white);
    width: 100%;
}

/* Logo Section of the page CSS */

header .logo {      
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    width: 25%;     
    font-size: 48px;
    background-color: #85ABBB;
    color: var(--HeaderColor);
}


/* Navigation Section of the page CSS */
header nav {
    display: flex;    
    justify-content: flex-end;
    width: 75%; 
    align-items: center;  
  }
  
  nav a {
    color: #91CBCD;
    padding: 20px 20px;
    font-size: 28px;    
    text-decoration: underline;
    text-align: center;    
  }
  
  nav a:hover {
    color: #fff;
  } 

/* Main picture CSS */
figure {     
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Background.png");
    background-size: cover;
    background-position: center;    
}

figure .Subtitle {         
    padding: 20px 20px 20px 20px;   
    font-size: 38px;
    background-color: #85ABBB;
    color: var(--HeaderColor);
    float: right;        
    margin-right: 50px;
    margin-top: 200px;
}

/* Article Part CSS */
article{
    display: flex; 
    width: 100%;  
}

/* Sections under Article CSS */
article .left-nav {
    margin-bottom: 20px;
    width: 20%;      
    padding: 10px;   
    background-color:var(--white);       
    border-right-style: solid;
    border-color: var(--HeaderColor);
    border-width: thick;
}

/* CSS for all H2 Tags in Sections */
article section h2 {
    margin-bottom: 20px;
    text-align: right;
    font-family: 'Helvitica','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    color: var(--HeaderColor);
}

 .content {
    margin-bottom: 20px;
    width: 80%;         
    flex-wrap: wrap;
    padding-left: 10px;   
    text-align:justify;
    background-color:var(--white);    
}

/* CSS for images positioning in Sections */
.profile-pic {
    float: left;
    max-height: 250px; 
    margin-right: 25px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;     
    box-shadow: 10px 5px 5px 5px black, 10px 5px 5px 5px gray;
    border-radius: 25px;     
}

.firstjob {       
    margin-right: 25px;
    position: relative;       
}

.firstjob .Subtitle {         
    padding: 20px 20px 20px 20px;   
    font-size: 38px;
    background-color:var(--boxbordercolor);
    color: var(--HeaderColor);      
    position: absolute; 
    margin-top: 400px;   
}

.firstjob img {  
    opacity: .5; 
    float: left;
    width: 100%;    
    border-style: solid;
    border-color: var(--boxbordercolor);
    border-width: 5px;      
    box-shadow: 10px 5px 5px 5px black, 10px 5px 5px 5px gray;     
    margin-bottom: 15px;      
}

.firstjob:hover img {
    opacity: 1;
  }


.nextjob {       
    margin-right: 25px;     
}
.nextjob img {  
    opacity: .5;
    height: auto;
    margin: 1%; 
    float: left;
    width: 48%;    
    border-style: solid;
    border-color: var(--boxbordercolor);
    border-width: 5px;    
    box-shadow: 10px 5px 5px 5px black, 10px 5px 5px 5px gray;      
}

.nextjob:hover img {
    opacity: 1;
  }

  .aboutme {
    display: flex;    
    justify-content: flex-start;
    width: 75%; 
    align-items: left;  
  }

  .aboutme a {
    color: var(--HeaderColor);
    padding: 20px 20px;
    font-size: 28px;    
    text-decoration: underline;
    text-align: center;
  }

@media screen and (max-width: 1000px) {
   header,  
    nav {
        flex-direction: column;       
    }
}
