/* 
- Created Date: 07/08/2023
- Created by Sajith Aravindan
========================================================================================

/* Global Variables */
:root {
    --HeaderColor:#31343D;
    --white: #ffffff;
    --boxbordercolor: #91CBCD;
}

/* Global Styling  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Full Body Section Styling */
body {
    background-color:var(--white);
    font-family: Helvetica, Arial, sans-serif;
}
/* End of Full Body Section Styling */

/* Header Section CSS */
header {   
    display: flex;    
    padding: 0px 20px 20px 0px;
    font-family:Helvetica, Arial, sans-serif;
    background-color: var(--HeaderColor);
    color:var(--white);
    width: 100%;
}

/* Logo Section CSS */
header .logo {      
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    width: 25%;     
    font-size: 48px;
    background-color: #85ABBB;
    color: var(--HeaderColor);
}

/* Navigation Section CSS */
header nav {
    display: flex;    
    justify-content: flex-end;
    width: 75%; 
    align-items: center;  
  }
  
nav a {
    color: #91CBCD;
    padding: 20px 20px;
    font-size: 28px;    
    text-decoration: underline;
    text-align: center;    
  }
  
nav a:hover {
    color: #fff;
  } 

/* Banner picture CSS */
figure {     
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Background.png");
    background-size: cover;
    background-position: center;    
}

/* Banner picture Subtitle CSS */
figure .Subtitle {         
    padding: 20px 20px 20px 20px;   
    font-size: 38px;
    background-color: #85ABBB;
    color: var(--HeaderColor);
    float: right;        
    margin-right: 50px;
    margin-top: 200px;
}

/* CSS for Profile image */
.profile-pic {
    margin: 0 auto 0 auto;
    max-height: 250px; 
    width: 250px;
    margin: 0 1% 2% 1%;
    border-style: solid;
    border-width: 1px;
    padding: 10px;     
    box-shadow: 10px 5px 5px 5px black, 10px 5px 5px 5px gray;
    border-radius: 25px;         
}

/* Sections Content Styling */
.section {
    background-color:var(--white);  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;    
}

/* Sections Titles' Styling */
.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 55px;
    color: var(--HeaderColor);
    margin: 0 auto 0 auto;
    padding-right: 15px;
    width: 20%;
    text-align: end;
    border-right: var(--HeaderColor) solid 5px;
}

/* "About Me" Section Contents' Styling */
.aboutme-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 80%;    
}

/* "Work" Section Content Stlyling */
.works-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 80%;    
}

/* "Contact Me" Section Contents' Styling */
.contact-me-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 80%;
}

/* Section Font and Anchor Elements Styling */
.section p, .section a {
    line-height: 1.5;    
    color: var(--HeaderColor); 
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
    text-align: left;    
}

/* <p> tag Styling */
.aboutme-row p{
    font-size: 20px;
    color: var(--HeaderColor); 
    align-items: left;
    margin: 0 auto 0 auto;     
}

.works-row p {
    display: inline-block;
    text-align: start;
    background-color:var(--boxbordercolor);
    opacity: 85%;
    width: 45%;
    position: absolute;
    bottom: 10%;
    left: 0%;
}

/* Main Project Section Styling */
.first-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    height: 650px;
    width: 100%;
}

/* Others Projects Section Styling */
.upcoming-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    flex-direction: row;
    width: 100%;
}

/* Main Project  Section-Image Styling */
.horiseon { 
    width: 100%;
    height: 610px;
    margin: 0 1% 2% 1%;
    border: var(--boxbordercolor) 5px solid;
    position: relative;    
}

.horiseon img { 
    width: 100%;
    height: 600px;    
    opacity: .5;
}

/* Main Project Hover Styling */
.horiseon img:hover {
    opacity: 1;
}

/* LED Wall  Section-Image Styling */
.led-wall {    
    width: 47.5%;
    height: 260px;
    margin-bottom: 2%;
    margin-right: 0.5%;
    border: var(--boxbordercolor) 5px solid;
    position: relative;    
}

.led-wall img {
    width: 100%;
    height: 250px;
    opacity: .5;
}

/* LED Wall Hover Styling */
.led-wall img:hover {
    opacity: 1;
}

/* Calculator  Section-Image Styling */
.calculator {   
    width: 47.5%;
    height: 260px;
    margin-bottom: 2%;
    margin-left: 0.5%;
    border: var(--boxbordercolor) 5px solid;
    position: relative;     
}

.calculator img {
    width: 100%;
    height: 250px;
    opacity: .5;
}

/* Calculator Hover Styling */
.calculator img:hover {
    opacity: 1;
}

/* Pastel Puzzle  Section-Image Styling */
.pastel-puzzles {    
    width: 47.5%;
    height: 260px;
    margin-bottom: 2%;
    margin-right: 0.5%;
    border: var(--boxbordercolor) 5px solid;
    position: relative;    
}

.pastel-puzzles img {
    width: 100%;
    height: 250px;
    opacity: .5;
}

/* Pastel Puzzle Hover Styling */
.pastel-puzzles img:hover {
    opacity: 1;
}

/* Run Buddy Section-Image Styling */
.run-buddy {    
    width: 47.5%;
    height: 260px;
    margin-bottom: 2%;
    margin-left: 0.5%;
    border: var(--boxbordercolor) 5px solid;
    position: relative;   
}

.run-buddy img {
    width: 100%;
    height: 250px;
    opacity: .5;
}

/* Run Buddy Hover Styling */
.run-buddy img:hover {
    opacity: 1;
}


.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
  
/* End of Main Sections Content Styling */

/* MEDIA QUERY FOR SMALLER SCREENS*/
@media screen and (max-width: 980px) {    

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    .logo {
        width: 100%;
        text-align: center;
    }

    nav {
        flex-direction: column;       
    }

}
